{% extends 'html/header.html'%}
{% block title %}Change password{% endblock %}
{% block content %}
<style>
body {
  background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148817571.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<div class="container">
<div class="card mx-auto col-md-6 mt-4 p-2 shadow-lg">
<div class="card-body">
<h3 class="bg-warning text-center text-light p-2 border rounded">change password</h3>
<form method="POST">
{% csrf_token %}
<table class="table table-borderless">
	{% for i in t %}
<tr>
<td>{{i}}</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="change"class="form-control my-2 btn btn-success btn btn-block">
</form>
</div>

</div>

</div>
{% endblock %}